
App.ContaCorrente/bin/Debug/net6.0/App.ContaCorrente.Infra.IoC.dll
App.ContaCorrente/bin/Debug/net6.0/App.ContaCorrente.Infra.Data.dll
App.ContaCorrente/bin/Debug/net6.0/App.ContaCorrente.Domain.dll
App.ContaCorrente/bin/Debug/net6.0/App.ContaCorrente.Application.dll
App.ContaCorrente/bin/Debug/net6.0/App.ContaCorrente.API.dll
